In [ ]:
jobName = input('job name:')
jobDescription = input('job description:')
stepName = "test"
command = "SELECT 1"
credentialName = "cloudsa"
targetGroupName = "self"

## Connect to your Job Database

In [1]:
# Connect to server
import pyodbc 
import pandas as pd
import numpy as np

server_name = 'tcp:sjobaccount1.database.windows.net,1433'
database = 'dbjobaccount'
username = 'cloudsa'
passwd = 'Yukon900!'

jobsDbConnection = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};'
                        'UID='+username+';'
                        'PWD='+passwd+';'
                      'Server='+server_name+';'
                      'Database='+database+';'
                      'Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
                      )

print("Connected to "+server_name+" successfully")

Connected to tcp:sjobaccount1.database.windows.net,1433 successfully

## Create a new job

In [3]:
# Create job
cursor = jobsDbConnection.cursor();
queries=[
    #Add job for create table
    "EXEC jobs.sp_add_job @job_name='" + jobName + "', @description='" + jobName + "'"
]

for query in queries:
    cursor.execute(query)

print(jobName + " created successfully");

testJob2123 created successfully

## View your jobs

In [40]:
cursor = jobsDbConnection.cursor()
query= "SELECT top 100 job_name FROM jobs.jobs"
sql_query = pd.read_sql_query(query,jobsDbConnection)
table = pd.DataFrame(sql_query)
table

           job_name
0      select1-self
1   test_remote_job
2  testDividebyZero
3    testJobNoSteps

## Delete a job

In [31]:
# Create job
cursor = jobsDbConnection.cursor();
queries=[
    #Add job for create table
    "EXEC jobs.sp_delete_job @job_name='" + jobName + "'"
]

for query in queries:
    cursor.execute(query)

print(jobName +" job deleted successfully");

testJobNoSteps job deleted successfully

## Add a job step

In [ ]:
## Add a job step to job

cursor = jobsDbConnection.cursor();
queries=[
    #Add job for create table
    "exec jobs.sp_add_jobstep @job_name='" + jobName + "', @step_name='" + stepName + "', @command='" + command + "', @credential_name='" + credentialName +"', @target_group_name='" + targetGroupName +"'"
]

for query in queries:
    cursor.execute(query)

print("Added job step " + stepName + "to job successfully");