In [22]:
jobExecutionId = "536BD45F-F435-4115-A9DD-0000C25566BF"

## Connect to Job database

In [20]:
# Connect to your Job Database
# Connect to server
import pyodbc 
import pandas as pd
import numpy as np

pd.set_option('display.max_colwidth', 1000)
server_name = 'tcp:sjobaccount1.database.windows.net,1433'
database = 'dbjobaccount'
username = 'cloudsa'
passwd = 'Yukon900!'

jobsDbConnection = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};'
                        'UID='+username+';'
                        'PWD='+passwd+';'
                      'Server='+server_name+';'
                      'Database='+database+';'
                      'Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
                      )

print("Connected to "+server_name+" successfully")

Connected to tcp:sjobaccount1.database.windows.net,1433 successfully

## View latest job execution info for specific job execution id

In [24]:
# View your jobs
cursor = jobsDbConnection.cursor()
query = "SELECT job_execution_id, last_message FROM jobs.job_executions WHERE job_execution_id ='" + jobExecutionId + "'"

sql_query = pd.read_sql_query(query,jobsDbConnection)
table = pd.DataFrame(sql_query)
table

,job_execution_id,last_message
0,536BD45F-F435-4115-A9DD-0000C25566BF,Job execution succeeded.
1,536BD45F-F435-4115-A9DD-0000C25566BF,"Step 1 succeeded execution on target (server 'sjobaccount1.database.windows.net', database 'dbjobaccount')."
2,536BD45F-F435-4115-A9DD-0000C25566BF,Step 1 succeeded.