## Connect to your Job Database

In [17]:
# Connect to server
import pyodbc 
import pandas as pd
import numpy as np

server_name = 'tcp:sjobaccount1.database.windows.net,1433'
database = 'dbjobaccount'
username = 'cloudsa'
passwd = 'Yukon900!'

jobsDbConnection = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};'
                        'UID='+username+';'
                        'PWD='+passwd+';'
                      'Server='+server_name+';'
                      'Database='+database+';'
                      'Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
                      )

print("Connected to "+server_name+" successfully")

Connected to tcp:sjobaccount1.database.windows.net,1433 successfully

## Create a new job

In [5]:
# Create job
cursor = jobsDbConnection.cursor();
jobName = input('job name:')
jobDescription = input('job description:')
queries=[
    #Add job for create table
    "EXEC jobs.sp_add_job @job_name='"+jobName+"', @description='"+jobName+"'"
]

for query in queries:
    cursor.execute(query)

print(jobName+"\t created successfully");

job name:asdfasdf
job description:asdfasdfasdfasdfasdf
asdfasdf	 created successfully

## View your jobs

In [7]:
cursor = jobsDbConnection.cursor()
query= "SELECT top 100 job_name FROM jobs.jobs"
sql_query = pd.read_sql_query(query,jobsDbConnection)
table = pd.DataFrame(sql_query)
table

           job_name
0          asdfasdf
1      select1-self
2   test_remote_job
3  testDividebyZero
4    testJobNoSteps

## Add a job step to your job

In [16]:
#Create job step for create table
cursor = jobsDbConnection.cursor();

jobName= input('job name:')
credential_name = input('credentials name:')
target_group_name = input('target group name:')
step_name = input('step name:')
step_command = input('command to be added:')

queries=[
"EXEC jobs.sp_add_jobstep @job_name='"+jobName+"',"+
"@command=N'"+step_command+"',"+
"@credential_name='"+credential_name+"',"+
"@target_group_name='"+target_group_name+"',"+
"@step_name='"+step_name+"';"
]

for query in queries:
    cursor.execute(query)

print(step_name+"\t created successfully");

job name:asdfasdf
credentials name:cloudsa
target group name:self
step name:step1self
command to be added:SELECT 1
step1self	 created successfully